.beta {
  position: absolute;
  color: #88888888;
  bottom: 0;
  left: 0;
  font-size: 40px;
  z-index: 10000;
  margin: 20px;

  -webkit-user-select: none;
  user-select: none;
}

.accsaber-icon {
  height: 50px;
}

.links {
  font-size: 20px;
}

.player {
  display: flex;
  flex-direction: row;
  cursor: pointer;

  margin-right: 10px;
  vertical-align: middle;

  p {
    margin: auto;
    padding: 0;
  }

  img {
    height: 40px;
    width: 40px;
    vertical-align: middle;
    border-radius: 20px;
    margin-left: 10px;
  }
}

.accsaber-footer {
  display: flex;
  background-color: #fafafa;

  a {
    color: black;
  }
}
