<mat-toolbar color="primary">
  <mat-toolbar-row class="mat-elevation-z5">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="spacer"></div>
    <button mat-button (click)="showSignupDialog()">Sign up</button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container style="height: calc(100% - 64px)">
  <mat-sidenav
    [autoFocus]="false"
    #sidenav
    class="mat-elevation-z5"
    style="width: 350px"
    mode="side"
    opened
  >
    <mat-nav-list>
      <div *ngFor="let link of links">
        <a mat-list-item [routerLink]="link.linkPath" routerLinkActive="current-page">
          {{ link.linkName }}
        </a>
        <mat-divider></mat-divider>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
