<div class="grid-container" *ngIf="!!playerInfo">
  <div class="player-info acc-card">
    <div class="player-info-details">
      <div class="avatar">
        <img src="{{ imageUrl }}/avatars/{{ playerInfo?.playerId }}.jpg" alt="player-avatar" />
      </div>
      <div class="details">
        <h2 class="header">
          #<app-grid-player-rank
            [rank]="playerInfo?.rank"
            [rankLastWeek]="playerInfo?.rankLastWeek"
          ></app-grid-player-rank>
          {{ playerInfo?.playerName }}
        </h2>
        <p>{{ playerInfo?.ap.toFixed(2) }} AP</p>
        <p>Average Acc: {{ (playerInfo?.averageAcc * 100).toFixed(2) }}%</p>
        <div class="rank-history">
          <canvas
            baseChart
            chartType="line"
            [data]="rankHistoryData"
            [labels]="rankHistoryDates"
            [options]="rankHistoryOptions"
          ></canvas>
        </div>
      </div>
    </div>
    <a mat-icon-button href="https://scoresaber.com/u/{{ playerInfo?.playerId }}" target="_blank"
      ><mat-icon>poll</mat-icon></a
    >
  </div>
  <div class="player-details acc-card">
    <button mat-raised-button (click)="setAsProfile()">Set as my profile</button>
    <div>
      <canvas
        baseChart
        [datasets]="playerSkill"
        [labels]="skillLabels"
        [options]="options"
        legend="false"
        chartType="radar"
      ></canvas>
    </div>
  </div>

  <ag-grid-angular
    [gridOptions]="gridOptions"
    [rowData]="rowData | async"
    class="scores"
  ></ag-grid-angular>
</div>
