<div class="grid-container">
  <div class="player-info">
    <h2>{{ playerInfo?.playerName }}</h2>
    <p>Rank: {{ playerInfo?.rank }}</p>
    <p>AP: {{ playerInfo?.ap.toFixed(2) }}</p>
    <p>Average Acc: {{ (playerInfo?.averageAcc * 100).toFixed(2) }}%</p>
    <p>(more info coming soon)</p>
  </div>
  <div class="player-details">
    <button mat-raised-button (click)="setAsProfile()">Set as my profile</button>
    <div>
      <canvas
        baseChart
        [datasets]="playerSkill"
        [labels]="skillLabels"
        [options]="options"
        legend="false"
        chartType="radar"
      ></canvas>
    </div>
  </div>

  <ag-grid-angular
    [gridOptions]="gridOptions"
    [rowData]="rowData | async"
    (rowDataChanged)="resizeGrid()"
    class="ag-theme-material scores"
  ></ag-grid-angular>
</div>
