@import "~@angular/material/_theming.scss";

.grid-container {
  display: grid;

  padding: 20px;
  height: calc(100% - 65px);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30% 70%;
  gap: 15px 15px;
  grid-template-areas:
    "playerinfo playerdetails"
    "scores scores";
}

.player-info {
  @include mat-elevation(5);
  grid-area: playerinfo;
  display: flex;
  flex-direction: column;

  padding: 10px;
  border-radius: 5px;

  margin-right: 10px;

  .player-info-details {
    display: flex;
  }

  .avatar img {
    height: 100px;
    vertical-align: middle;
    border-radius: 3px;

    margin-right: 10px;
  }

  .details {
    p {
      margin: auto;
      padding: 0;
    }
  }
  a {
    place-self: flex-end;
    position: absolute;
    mat-icon {
      color: #e9d409;
    }
  }
  min-width: 0;
  .rank-history {
    min-height: 0;
    margin-top: 20px;
    flex: 1;
  }
}

.player-details {
  @include mat-elevation(15);
  grid-area: playerdetails;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;

  min-width: 0;

  button {
    width: 200px;
    place-self: flex-end;
    position: absolute;
  }

  div {
    height: 100%;
  }
}

.scores {
  @include mat-elevation(5);
  grid-area: scores;
  border-radius: 5px;
}
