.techyness {
  width: 100px;
  height: 15px;
  border: thin solid black;
  border-radius: 4px;
  cursor: default;

  .bar {
    height: inherit;
  }
  .value {
    color: black;
    position: absolute;
    top: 0;
    margin: 0;
    width: inherit;
    text-align: center;
    text-shadow: 0 0 1px white, 0 0 3px white, 0 0 5px white;
  }
}
