<h1>Accsaber Privacy Policy</h1>

<p>This privacy policy will explain how Accsaber uses the personal data we collect from you when you use our website.</p>

<h2>What data do we collect?</h2>

<p>Usage Data is collected automatically when using the Service.</p>

<p>Usage Data may include information such as Your Device’s Internet Protocol address (e.g. IP address), browser type, browser version, the pages of our Service that You visit, the time and date of Your visit, the time spent on those pages, unique device identifiers and other diagnostic data.</p>

<h2>How do we collect your data?</h2>

<p>When You access the Service by or through a mobile device, We may collect certain information automatically, including, but not limited to, the type of mobile device You use, Your mobile device unique ID, the IP address of Your mobile device, Your mobile operating system, the type of mobile Internet browser You use, unique device identifiers and other diagnostic data.</p>

<p>We may also collect information that Your browser sends whenever You visit our Service or when You access the Service by or through a mobile device.</p>

<h2>How will we use your data?</h2>

<p>Usage Data is used to improve Accsaber by aggregating metrics on website usage. Usage Data is also used to maintain and improve operational stability and performance of the website.</p>

<h2>How do we store your data?</h2>

<p>Accsaber stores Usage Data on its servers. Accsaber will keep your Usage Data for up to a year, after which the operational log files containing the data are automatically deleted.</p>

<h2>What are your data protection rights?</h2>

<p>Accsaber would like to make sure you are fully aware of all your data protetion rights. Every user is entitled to the following:</p>

<h3>The right to access</h3>

<p>You have the right to request Accsaber for copies of your personal data. We may charge you a small fee for this service.</p>

<h3>The right to rectification</h3>

<p>You have the right to request that Accsaber correct any information you believe is inaccurate. You also have the right to request Accsaber to complete information you believe is incomplete.</p>

<h3>The right to erasure</h3>

<p>You have the right to request that Accsaber erase your personal data, under certain conditions.</p>

<h3>The right to restrict processing</h3>

<p>You have the right to request that Accsaber restrict the processing of your personal data, under certain conditions.</p>

<h3>The right to object to processing</h3>

<p>You have the right to object to Accsaber processing your personal data, under certain conditions.</p>

<h3>The right to data portability</h3>

<p>You have the right to request that Accsaber transfer the data that we have collected to another organization, or directly to you, under certain conditions.</p>

<p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us at <a href="mailto:accsaber@protonmail.com">accsaber@protonmail.com</a>.</p>

<h2>Privacy policies of other websites</h2>

<p>The Accsaber website contains links to other websites. Our privacy policy applies only to our website, so if you click on a link to another website, you should read their privacy policy.</p>

<h2>Changes to our privacy policy</h2>

<p>Accsaber keeps its privacy policy under regular review and places any updates on this web page. This privacy policy was last updated on 8 September 2021.</p>

<h2>How to contact us</h2>

<p>If you have any questions about Accsaber's privacy policy, the data we hold on you, or you would like to exercise one of your data protection rights, please do not hesitate to contact us.</p>

<p>Email: <a href="mailto:accsaber@protonmail.com">accsaber@protonmail.com</a></p>
