/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-alpine-dark/sass/ag-theme-alpine-dark-mixin";

@import "~@angular/material/_theming.scss";
@import "theme";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.light-theme {
  @include angular-material-theme($light-theme);
  ag-grid-angular {
    @include ag-theme-alpine($ag-theme-alpine-default-params);
  }

  a:link {
    color: #0000ff;
    text-decoration: none;
  }

  a:visited {
    color: #0000ff;
    text-decoration: none;
  }

  .current-page {
    background: lightblue;
    font-weight: bold;
  }

  .contrast-rich-text {
    color: black;
    position: absolute;
    top: 0;
    margin: 0;
    width: inherit;
    text-align: center;
    text-shadow: 0 0 1px white, 0 0 3px white, 0 0 5px white;
  }
}

.dark-theme {
  @include angular-material-theme($dark-theme);
  ag-grid-angular {
    @include ag-theme-alpine-dark();
  }

  a:link {
    color: #73a8ff;
    text-decoration: none;
  }

  a:visited {
    color: #73a8ff;
    text-decoration: none;
  }

  .current-page {
    background: #373737;
    font-weight: bold;
  }

  .contrast-rich-text {
    color: white;
    position: absolute;
    top: 0;
    margin: 0;
    width: inherit;
    text-align: center;
    text-shadow: 0 0 1px black, 0 0 3px black, 0 0 5px black;
  }
}

.spacer {
  flex: 1;
}

.accsaber-page {
  @include mat-elevation(5);
  position: relative;

  margin: 20px;
  height: calc(100% - 40px);
  width: calc(100% - 40px);
  border-radius: 7px;

  ag-grid-angular {
    height: 100%;
    width: 100%;
    border-radius: 7px;
  }
}

.grid-center {
  justify-content: center;
}

.grid-center-cell {
  div {
    span {
      width: 100%;
      text-align: center;
    }
  }
}

.info {
  background: #66ea66;
}

.warn {
  background: #fffb00;
}

.error {
  background: #c71515;
}

.ag-cell-value {
  cursor: text;
}
