@import "@angular/material/_theming";

.grid-container {
  display: grid;

  padding: 20px;
  height: calc(100% - 65px);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30% 70%;
  gap: 25px 25px;
  grid-template-areas:
    "mapinfo playerinfo"
    "scores scores";
}
.map-info {
  grid-area: mapinfo;
  display: flex;
  flex-direction: column;

  .map-info-details {
    display: flex;

    .song-cover img {
      max-height: 200px;
      vertical-align: middle;
      border-radius: 3px;
      margin-right: 15px;
    }
    .details {
      h2 {
        margin-bottom: 0;
      }
      p {
        margin: 0 0 10px;
        padding: 0;
      }
    }
  }

  .buttons {
    place-self: flex-end;
    position: absolute;
    .beatsaver {
      color: black;
    }
    .scoresaber {
      color: #e9d409;
    }
  }
}
.player-info {
  grid-area: playerinfo;

  padding: 15px 10px 10px;
  min-width: 0;
}
.scores {
  @include mat-elevation(5);
  grid-area: scores;
  border-radius: 5px;
}
