<div class="grid-container">
  <div class="rank-form">
    <form [formGroup]="rankForm">
      <mat-form-field>
        <mat-label>Leaderboard ID</mat-label>
        <input matInput formControlName="leaderboardId" type="number" />
        <mat-error *ngIf="rankForm.controls['leaderboardId'].invalid"
          >Please enter a leaderboard id</mat-error
        >
      </mat-form-field>

      <mat-form-field>
        <mat-label>Map hash</mat-label>
        <input matInput formControlName="songHash" />
        <mat-error *ngIf="rankForm.controls['songHash'].invalid"
          >Please enter a Song hash Key</mat-error
        >
      </mat-form-field>

      <mat-form-field>
        <mat-label>Difficulty</mat-label>
        <mat-select formControlName="difficulty">
          <mat-option value="easy">Easy</mat-option>
          <mat-option value="normal">Normal</mat-option>
          <mat-option value="hard">Hard</mat-option>
          <mat-option value="expert">Expert</mat-option>
          <mat-option value="expertPlus">Expert+</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Category</mat-label>
        <mat-select formControlName="categoryName">
          <mat-option *ngFor="let category of this.categories" [value]="category.categoryName"
            >{{ category.categoryDisplayName }} acc</mat-option
          >
        </mat-select>
      </mat-form-field>
    </form>

    <mat-form-field>
      <mat-label>Complexity</mat-label>
      <input
        matInput
        (change)="this.recalculateComplexityValues()"
        [(ngModel)]="complexity"
        type="number"
      />
    </mat-form-field>

    <mat-slider
      thumbLabel
      min="0"
      max="15"
      (change)="this.recalculateComplexityValues()"
      [(ngModel)]="complexity"
    ></mat-slider>
    <div class="spacer"></div>
    <button mat-raised-button [disabled]="!rankForm.valid" (click)="rankSong()">Rank</button>
  </div>

  <div class="ranked-maps-info">
    <canvas
      baseChart
      chartType="bar"
      [data]="rankedCount"
      [labels]="rankedComplexity"
      [options]="rankedStatsOptions"
    ></canvas>
  </div>
  <div class="complexity">
    <canvas
      baseChart
      chartType="line"
      [data]="complexitySet"
      [labels]="complexityLabels"
      [options]="complexityOptions"
    ></canvas>
  </div>
</div>
